<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='login.css') }}"
    />
  </head>
  <script>
    async function handleLogin(event) {
      event.preventDefault();

      const email = document.getElementById("email").value;
      const password = document.getElementById("password").value;

      const requestBody = { email, password };

      try {
        const response = await fetch("/auth/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(requestBody),
        });

        const result = await response.json();

        if (response.ok) {
          alert("Login successful!");
          window.location.href = "/";
        } else {
          alert(result.message || "Login failed.");
        }
      } catch (error) {
        console.error("Error during login:", error);
        alert("An error occurred. Please try again later.");
      }
    }
  </script>
  <body>
    <div class="wrapper">
      <form onsubmit="handleLogin(event)">
        <h2>Login</h2>
        <div class="input-field">
          <input type="text" required id="email" />
          <label>Enter your email</label>
        </div>
        <div class="input-field">
          <input type="password" required id="password" />
          <label>Enter your password</label>
        </div>
        <button type="submit">Log In</button>
        <div class="register">
          <p>Don't have an account? <a href="register">Register</a></p>
        </div>
      </form>
    </div>
  </body>
</html>
