@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: black;
    --secondary: white;
}

* {
    @apply outline-none font-thin;
}

input, textarea, button {
    @apply p-2 duration-150;
}

button:hover, button:focus {
    @apply opacity-40;
}

.auth-form input, .auth-form button {
    @apply w-full;
}
