* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  z-index: 50;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar {
  position: relative;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
}

.nav-links li a, .nav-links li button {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  background: transparent;
  border: none;
  font-size: 15px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.nav-links li a:hover {
  color: #007bff;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
}

.container {
  padding: 20px;
  width: 100vw;
  max-width: 800px;
  margin: auto;
  margin-top: 100px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  margin: 20px 0;
}

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.btn.delete-btn {
  background-color: #dc3545;
}

.btn.delete-btn:hover {
  background-color: #c82333;
}

.success,
.error {
  margin: 10px 0;
  font-weight: bold;
}

.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.folder-list,
.file-list {
  list-style-type: none;
  padding: 0;
}

.folder-list li,
.file-list li {
  margin: 10px 0;
}

.folder-item,
.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

.folder-item:hover,
.file-item:hover {
  background-color: #f1f1f1;
}

.folder-link,
.file-link {
  color: #333;
  text-decoration: none;
  overflow: hidden;
}

.folder-link:hover,
.file-link:hover {
  text-decoration: underline;
}

.delete-form {
  display: inline;
}

.loginform input, loginform button {
  font-size: 15px;
  padding: 10px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #333;
    top: 60px;
    right: 0;
    width: 100%;
  }

  .nav-links.active {
    position: fixed;
    /* top: 0; */
    /* left: 0; */
    /* top: 50%; */
    /* left: 50%; */
    /* width: fit-content; */
    /* transform: translate(-50%, -50%); */
    display: flex;
    width: 100%;
    right: 0;
    flex-direction: column;
    padding: 20px;
    z-index: 10;
  }

  .menu-toggle {
    display: block;
  }
}