{% extends 'layout.html' %}
{% block title %}Finder{% endblock %}
{% block content %}
  <h2>Upload Files</h2>
  <form method="post" enctype="multipart/form-data" class="upload-form">
    {% csrf_token %} 
    {{ form }}
    <button type="submit" class="btn upload-btn">Upload</button>
  </form>

  {% if success %}
  <p class="success">{{ success }}</p>
  {% endif %}

  <h2>File Manager - {{ current_path }}</h2>

  {% if error %}
  <p class="error">{{ error }}</p>
  {% endif %}
  <p>
    {% if parent_path %}
      <a class="link" href="{% url 'filemanage:browse_folder' parent_path %}">.. (Parent Directory)</a>
    {% else %}
      <a class="link" href="{% url 'filemanage:home' %}">(Home Directory)</a>
    {% endif %}
  </p>

  <h2>Folders</h2>
  <ul class="folder-list">
    {% for folder in folders %}
    <li>
      <div class="folder-item">
        <a class="folder-link" href="{% url 'filemanage:browse_folder' folder_path|add:folder %}">{{ folder }}</a>
        <form action="{% url 'filemanage:delete_item' folder_path|add:folder %}" method="POST" class="delete-form" onsubmit="return confirmDelete();">
          {% csrf_token %}
          <button type="submit" class="btn delete-btn">Delete</button>
        </form>
      </div>
    </li>
    {% empty %}
    <li>No folders found</li>
    {% endfor %}
  </ul>

  <h2>Files</h2>
  <ul class="file-list">
    {% for file in files %}
    <li>
      <div class="file-item">
        <a href="{% if current_path %}{% url 'filemanage:view_file' folder_path=current_path file_name=file %}{% else %}
        {% url 'filemanage:view_file_no_folder' file_name=file %}{% endif %}" target="_blank">{{ file }}</a>

      <form action="{% url 'filemanage:delete_item' folder_path|add:current_path|add:'/'|add:file %}" method="POST" class="delete-form" onsubmit="return confirmDelete();">
          {% csrf_token %}
          <button type="submit" class="btn delete-btn">Delete</button>
        </form>
      </div>
    </li>
    {% empty %}
    <li>No files found</li>
    {% endfor %}
  </ul>

<script>
  function confirmDelete() {
    return confirm('Are you sure you want to delete this item?');
  }
</script>
{% endblock %}