{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% tailwind_css %}
    <title>{% block title %}{% endblock %} - HyperVault</title>
</head>
<body>
    {% include 'components/topbar.html' %}
    <div class="p-5">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>