{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <form method="post" class="upload-form loginform">
        {% csrf_token %}
        <h1 class="heading">Login</h1>
        {% if form.non_field_errors %}
            <span class="error">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </span>
        {% endif %}
        {{ form.username }}
        {{ form.password }}
        <button type="submit" class="btn">Login</button>
    </form>
{% endblock %}